@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<br />
<h3>Merhaba Dünya</h3>
<h6>h'lar yüksekliği temsil ediyor. Bu h6'</h6>
<h1>bu da h1</h1>