
@{
    Layout = null;
}

<h3>MVC3 tablo örneği</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Writer</th>
        <th>Date</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Technology</td>
        <td>Technology Category</td>
        <td>Sally White</td>
        <td>11.12.2001</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Education</td>
        <td>Education Category</td>
        <td>Robert Remorse</td>
        <td>11.12.2011</td>

    </tr>
</table>
